
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
						{% for slider in sliders %}
							<div class="item {% if forloop.counter == 1%}active{% endif %}">
								
								<div class="col-sm-6">
									<h1><span>{{slider.heading}}</h1>
									<h2>{{slider.subheading}}</h2>
									<p>{{slider.details}} </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{slider.slider1}}" class="girl img-responsive" alt="" />
									<img src="{{slider.price}}"  class="pricing" alt="" />
								</div>
								
							</div>
							{% endfor %}
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">{{category.title}}</a></h4>
								</div>
							</div>
							{% endfor %}
							
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">INR 0</b> <b class="pull-right">INR 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						{% if products %}
						{% for product in products %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{product.image}}" alt="" style="width: 184px; height: 162px;" />
											<h2>{{product.name}}</h2>
											<p>{% if product.price_offer %}{{product.price_offer}}{% else %}BEST IN THE INDUSTRY{% endif %}</p>
											<a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>Please contact for PRICE details</h2>
												<p>{{product.details}}</p>
												<a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="pagination">
						    <span class="step-links">
						        {% if products.has_previous %}
						            <a href="?page={{ products.previous_page_number }}"><<</a>
						        {% endif %}

						        <span class="current">
						            Page {{ products.number }} of {{ products.paginator.num_pages }}.
						        </span>

						        {% if products.has_next %}
						            <a href="?page={{ products.next_page_number }}">>></a>
						        {% endif %}
						    </span>
						</div>
						{% else %}
						<div class="register-req">
				<p>No products available</p>
			</div>
			{% endif %}
						
					</div><!--features_items-->
					
					
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
							{% if rec_products %}
									{% for product in rec_products %}
								{% if forloop.counter|divisibleby:3 %}<div {% if forloop.counter == "1"  %}class="item active">{% else %}class="item"{% endif %}>{% endif %}
									
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{product.image}}" alt="" />
													<h2>{{product.name}}</h2>
													<p>{% if product.price_offer %}{{product.price_offer}}{% else %}Please contact for PRICE details{% endif %}</p>
													<a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									
								{% if forloop.counter|divisibleby:4 %}</div>{% endif %}
								{% endfor %}
						{% else %}
						<div class="register-req">
				<p>No products available</p>
			</div>
			{% endif %}
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	{% endblock %}